<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025385511240-daralc6ki2kknmudtgk8ndhmpev44cpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025385511240-daralc6ki2kknmudtgk8ndhmpev44cpp</string>
	<key>API_KEY</key>
	<string>AIzaSyAXG4gnN4pJfR5Ikc5jceCqClmMB7fUctU</string>
	<key>GCM_SENDER_ID</key>
	<string>1025385511240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>west-bank-az-gsk</string>
	<key>STORAGE_BUCKET</key>
	<string>west-bank-az-gsk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025385511240:ios:36482b9e5a122281565b7d</string>
</dict>
</plist>